body{
    text-align: center;
}

#mainbox{
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #999999;
    background: #dddddd;
    -moz-transform:scale(2);
    -webkit-transform:scale(1,-1);
}

#mainbox1{
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 29px solid #999999;
    background: #dddddd;

    -webkit-transform:translateY(100px) rotate(45deg) scaleX(0.3)

}

#mainbox2{
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 29px solid #999999;
    background: #dddddd;
    -webkit-transform:skew(20deg);
}

#mainbox3{
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 29px solid #999999;
    background: #dddddd;

    -webkit-transition-duration:5s;
    -webkit-transition-delay:2s;

}

#mainbox3:hover{
    -webkit-transform:rotate(45deg);
}


#mainbox4{
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 29px solid #999999;
    background: #dddddd;

    -webkit-animation:myfirst 5s;
}


@-webkit-keyframes myfirst{
    0%   {background:red;}
    25%  {background:yellow;}
    50%  {background:blue;}
    100% {background:green;}
}


#title{
    font: bold 36px myfont,verdana,sans-serif;
    text-shadow:rgba(0,0,0,0.5) 2px 2px 3px;
    /*color: hsla(120,100%,50%,0.1);*/
}
@font-face {
    font-family: 'myfont';
    src: url("../other/YaHei.Consolas.1.12.ttf");
}

.title{
    font: bold 36px myfont,verdana,sans-serif;
    text-shadow:rgba(0,0,0,0.5) 2px 2px 3px;
    color: hsla(120,100%,50%,0.1);
}

